"*":
  "activate-power-mode":
    autoToggle: false
    comboMode:
      enabled: false
  "autocomplete-plus":
    confirmCompletion: "enter"
    useCoreMovementCommands: false
  "autocomplete-python-jedi":
    fuzzyMatcher: false
    useSnippets: "required"
  core:
    audioBeep: false
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "exception-reporting"
      "markdown-preview"
    ]
    telemetryConsent: "limited"
  editor:
    invisibles: {}
    showIndentGuide: true
  "git-plus":
    experimental:
      stageFilesBeta: false
    general: {}
  linter: {}
  "linter-ui-default":
    panelHeight: 69
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
